#data {
	padding: 1em;
	height: 100%;
}

#notificationNewProject {
	margin: 1em;
	background-color: white;
	height: 70%%;
}
#notificationNewProject outputLabel, outputText{
    margin-bottom: 2em;
}

#newProjectButtons input {
	margin: 1em;
}

#searchFilters {
	margin-right: 1em;
}

#searchResults {
	margin-right: 1em;
}

#dashboard {
	height: 80%;
}

#search {
	height: 20%;
}

#row1 {
	height: 50%;
}

#row2 {
	height: 50%;
}

/* overrides style from master template */
/* makes the div of the content expands to accommodate all elements */
#mainArea {
	height: 100%;
}
