/******* GLOBAL STYLES *******/
html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-size: 12px;
	margin-bottom: 60px;
}

p {
	font-size: 12px;
}

body > .container-fluid {
  padding: 60px 15px 0;
}

/******************************/
/* wraps the whole page */
#wrapper {
	height: 100%;
	width: 100%;
	
}

#header {
	border: dotted grey 1px;
    height: 15%;
	width: 95%;	
}
/* contains everything that is not the header */
#mainArea {
	border: dotted grey 1px;
	height: 100%;
	width: 100%;
	   margin: 0 1em 0 1em;
	
	
}
/* where most of the information is displayed */
#content {
	border: dotted grey 1px;
	height: 100%;
}

#leftMenu {
	border: dotted grey 1px;
	height: 100%;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/******* header styles *******/


/******* mainArea *********/
#notification {
	width: 80%;
	margin: 1em 1em 1em 0em;
	padding: 0.5em;
	/* change later */
	/* display: hidden; */
}

#breadcrumb {
	width: 30%;
}

#pageTitle {
	width: 90%;
	margin: 1em 1em 1em 0em;
}

/******* Classes *********/
.center {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.inline {
	display: inline;
}

.mg-left-md {
	margin-left: 2em;
}

.sectionSeparator {
	width: 80%;
	margin-left: 0;
	margin-top: 1em;
	color: grey;
}

.marginOneEm {
	margin: 1em;
}

.heightHUN {
	height: 100%;
}