#timesheetForm .col-md-1
{
	padding: 0;
	margin: 0;	
}

#timesheetForm .col-md-1 .input
{
	border: none;
	margin: 0;
	padding: .4em;
	height: 100%;
	width: 100%;
	font-size: 1.5em;
}

#summary {
	position: relative;
	bottom: 0;
}

#formTitle {
	padding: 0;
}

#timesheetTable {

	background-color: white;
	margin: 1em;
	padding-bottom: 2em;
}

.hour-col {
	width: 80px;
	text-align: center;
}

.spacer-horizontal {
	display: inline-block;
	width: 20px;
	height: 20px;


	font-size: 12px;
	background-color: white;
	margin: 1em;
	padding-bottom: 5em;
}


.headerCol {
	width: 100px;
	text-align: center;
}
/* whole dropdown of wp */
.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all{
	width: 90%;
	margin: 0 auto;
}


/* box with the arrow in dropdown */
.ui-selectonemenu-trigger.ui-state-default.ui-corner-right{	
	width: 30px;
}
.ui-icon.ui-icon-triangle-1-s.ui-c {
	margin: 16px 2px;
}

.wpCol {
	width: 200px;
}
.notesCol {
	width: 300px;
}
.editCol {
	width: 150px;
}
.ui-editable-column.notesCol.ui-state-highlight.ui-cell-editing{
	background-color: #fff;
	width: 90%;
	margin: 0 auto;
	padding: 0;
}

.ui-editable-column.notesCol.ui-state-highlight.ui-cell-editing.ui-cell-editor-input{
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	
}

.ui-inputfield.ui-inputtextarea.ui-widget.ui-state-default.ui-corner-all.ui-inputtextarea-resizable{
	width: 100%;
	max-height: 200px;
	overflow: auto;	
	padding: .5em;
}



/* hides notes when they're bigger than the box */ 
.ui-cell-editor-output {
	overflow: hidden;
}

#removeBtn {
	margin: .3em; 
}

.tmsDropdown {
	width: 100%;
	height: 100%;
	border: none;
	background-color: none;
}
.table.col-md-1.ui-inputfield {
	padding: 0;
}

.marginHalfEm {
	margin: .5em;
}
