/* css styles for page viewAllEmployees.xhtml */

#employeesDataTable {
	
	font-size: 12px;
	background-color: white;
	margin: 1em;
	padding-bottom: 5em;
	
	
}
.bg-none {
	background-color: none; !important
}